*{
  box-sizing: border-box;
}
body{
  height:100%;
  background-color: #210B61;
}
h1{
  font-size:1em;
  text-align:center;
  color: #eee;
  letter-spacing:1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.nav-container{
  width:80px;
  margin-top:0px;
  transition: all 0.3s linear;
  float:left;
  vertical-align: top;
}
.nav{
  list-style-type:none;
  margin:0;
  padding:0;
}
.content{
  margin-top: 0px;
  margin-left:2px;
  margin-right:2px;
  vertical-align: top;
  height: 100%;
}
.content>h2{
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  height: 35px;
  text-align: center;  
  color: #FACC2E;
  vertical-align: top;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 85px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.list {
  height: calc(100% - 40px);
  width: calc(100% - 75px);
  margin-left: 80px;
}
.list ul {
  background: linear-gradient(#FACC2E, #F4FA58);
  color: #210B61;
      margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  height: 100%;
  overflow-y: scroll;

}

.list li {
  vertical-align: text-top;
}

ul.nav li{
  height:80px; 
  position:relative;
  background: linear-gradient(#FACC2E, #F4FA58);
}
.drink_item{
  list-style-type: none;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
}
.drink_item>img{
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
a {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid black;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 40px;
  text-decoration:none;
  display:block;
  height:100%;
  width:100%;
  line-height:50px;
  color:#210B61;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  
  letter-spacing:1px;
  transition: all 0.3s linear;
}
.active a{
  color: #FACC2E;
  background-color: #210B61;
  outline:0;
}
span[class ^= "icon"]{
  position:absolute;
  left:20px;
  font-size: 40.0em;
  transition: all 0.3s linear;
}

#drink_popup_img {
    float: left;
    width: 150px;
    height: 150px;
}

#drink_popup_text {
  float: right;
  width: 350px;
  height: 300px; 
}
